EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_ALLOW_GUEST=true
EXPO_PUBLIC_SHOW_DEV_TOOLS=false
EXPO_PUBLIC_PREMIUM_MONTHLY_ID=rumo_premium_monthly
EXPO_PUBLIC_PREMIUM_YEARLY_ID=rumo_premium_yearly
